langchain
langgraph
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-groq
langchainhub
python-dotenv
arxiv
wikipedia
tavily-python
faiss-cpu
ipython
beautifulsoup4
aiohttp
youtube-transcript-api
pydantic
langgraph-cli[inmem]


